
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {background: red;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body {background: green;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    body {background: blue;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body {background: orange;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    body {background: pink;}
}

@media only screen and (orientation: landscape) {
    body {
      background-color: lightblue;
    }
}


  
#dashboard_div {
height: 100%;
width: 100%;
}

.TestChartContainer {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
}

